html, body {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    background-color: #ffe6e6;
}

.Main_Container {
    background-color: #fff;
    padding: 0 !important;
    border-radius: 8px;
}

@import 'styles/orders_management.scss';
@import 'styles/table_styled.scss';